#profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: mediumpurple;
  background-image: url("../images/bgworn-dots.png");
}

img {
  border: 0px solid #ddd;
  padding: 5px;
  width: 210px;
}

.profile-user-image {
  margin-top: 150px;
  height: 180px;
  align-self: auto;
}

.profile-user-name {
  align-self: center;
}