
/* All device but but Tablet and desktop Styles */
@media only screen and (min-width: 0px) {
  nav {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    background-color: darkgoldenrod;
    background-image: url("../images/bgworn-dots.png");
    width: 100vw;
    height: 120px;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  /* tweeter logo in nav bar */
  .logo {
    padding-top: 1em;
    font-size: 42px;
  }

  .write-new-tweet {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .fa-solid {
    font-weight: 900;
    color: #eb0a0a;
  }

  .tab {
    display: inline-block;
    margin-left: 3.5em;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  nav {
    background-color: mediumpurple;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1; 
    background-image: none;
  }
}