/* Navigator header */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;
  /* makes nav bar fixed */
  position: fixed;
  top: 0px;
  width: 100%
}
/* Tweeter Logo within navigator */
.logo { 
  font-family: Bungee;
}
/* Write New Tweet, and double arrow icon */
.nav-new-tweet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: inherit;
}
.write-new-tweet {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
