/* Tweet container styling */
/* article styling */

.tweets-container {
  width: 100%;
}

.tweet-container {
  margin-top: 2em;
  background-color: inherit;
  border-color: black;
  border-style: solid;
}

.tweet-container:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

/* header content styling */
.tweet-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em auto;
}

.tweeter-user-icon {
  width: 50px;
}

.tweeter-userName {
  display: flex;
  flex-wrap: nowrap;
  margin: 2px 1em 0 auto;
}

/* section content styling */
.tweet-textarea-container {
  border-color: Transparent;  
  outline: none;
  background-color: inherit;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: medium;
  width: 99%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding: 10px;
  margin-top: 10px;
}

/* Footer content styling */
.tweet-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-left {
  height: 25px;
  margin: 0px 0px 10px 40px;
  text-align: left;
  padding: 0px 0px 0px 0px;
  width: 180px;
}

.footer-right {
  height: 25px;
  margin: 0px 40px 10px 0px;
  text-align: right;
  padding: 0px 0px 0px 50px;
  width: 180px;
}

/* Footer right side icons */
.fa-solid {
  padding: 5px;
}

.fa-flag {
  color: #4056A1;
}

.fa-flag:hover {
  color: darkgoldenrod;
}

.fa-retweet {
  color: #4056A1;
}

.fa-retweet:hover {
  color: darkmagenta;
}

.fa-heart {
  color: #4056A1;
  margin-right: 0.5%;
}

.fa-heart:hover {
  color: crimson;
}
