/* Tweet containers Styling*/

/* Tweet container */
.tweets-container {
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  margin: 3em 0 3em 0;
  border: 5px solid black;
}

article:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

/* Header. User avatar, Name, and Username  */
article header {
  background-image: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  background-color: #f4f1ec;
  margin: auto;
  padding: 1em;
}

.tweet-uname-avatar {
  display: flex;
  align-items: center;
}

/* User's tweet */
article section {
  display: flex;
  width: 98%;
  margin: 0.25em;
  resize: none;
  border-style: none;
  border-bottom: 5px solid black;
  border-bottom-style: outset;
  background-color: #f4f1ec;
  padding-left: 1em;
  padding-right: 1em;
}

/* Footer. Date, and icons */
article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

/* icons */
.fa-flag:hover {
  color: goldenrod;
}

.fa-retweet:hover {
  color: blue;
}

.fa-heart:hover {
  color: red;
}